.header {
  background: #fff;
  position: sticky;
  padding: 10px 0;
  top: 0;
  z-index: 2;
  &__container {
    display: flex;
    align-items: center;
    gap: 5em;
  }

  &__item {
    display: flex;
    gap: 3em;
    align-items: center;
  }

  &__logo-img {
    width: 150px;
    height: 45px;
  }

  &__link {
    font-weight: 500;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    &::after {
      content: "";
      height: 2px;
      width: 100%;
      display: block;
      background: #000;
      transform: scaleX(0);
      transition: 0.4s transform;
      transform-origin: left;
    }

    &:hover::after {
      transform: scaleX(1);
    }
    &-active::after {
      transform: scaleX(1);
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
    gap: 4em;
  }

  &__window {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 180;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.274);
    display: none;
    opacity: 0;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
  }

  &__modal {
    width: 30%;
    min-height: 50%;
    background: #fff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    top: -100%;
    position: absolute;

    &_active {
      top: 150%;
      transition: 0.5s;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    padding: 20px 20px 10px 20px;

    & h2 {
      color: #000;
      font-size: 22px;
      font-weight: bold;
    }

    & button {
      border: none;
      background: none;
      font-size: 22px;
      cursor: pointer;
    }
  }

  &__bottom {
    padding: 40px;
    list-style: none;

    & ul {
      list-style: none;

      & li {
        margin-bottom: 10px;
      }
    }
  }

  &__tell {
    font-weight: bold;
    font-size: 20px;
    color: #000;
    text-decoration: none;
  }

  &__icon {
    font-size: 30px;
    color: #000;
    cursor: pointer;
    position: relative;
  }

  &__counter {
    background: #e43a3a;
    position: absolute;
    border-radius: 100%;
    height: 20px;
    min-width: 20px;
    font-size: 12px;
    top: -5px;
    right: -5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__location {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    display: inline-block;

    &::after {
      content: "";
      height: 2px;
      width: 100%;
      display: block;
      background: #000;
      transform: scaleX(0);
      transition: 0.4s transform;
      transform-origin: left;
    }

    &:hover::after {
      transform: scaleX(1);
    }
    &-active::after {
      transform: scaleX(1);
    }
  }
}
